.inputOption {
    display: flex;
    align-items: center;
    padding: 10px;
    color: gray;
    cursor: pointer;
}

.inputOption:hover {
    background-color: lightgray;
    border-radius: 10px;
}

.inputOption__icon {
    margin-right: 10px;
}

.inputOption__title {
    font-size: 13px;
}
