.post {
    margin-top: 15px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.post__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post__avatar {
    margin-right: 20px;
}

.post__info > h2 {
    font-size: 15px;
}

.post__info > p {
    color: gray;
    font-size: 12px;
}

.post__body {
    overflow-wrap: anywhere;
    margin-bottom: 10px;
}

.post__buttons {
    display: flex;
    justify-content: flex-evenly;
}
